<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <link rel="stylesheet" href="bulma.min.css">
    <link rel="stylesheet" href="css.css">
    <script src="vue.global.prod.js"></script>
    <title>ドロップキック予告メーカー</title>
</head>

<body>

    <header class="hero is-primary is-bold">
        <div class="hero-body">
            <h1 class="title">ドロップキック予告メーカー</h1>
        </div>
    </header>

    <section class="container">

        <section class="box" id="memo">
            <h2 class="subtitle">
                <a @click="fold()">作者のメモ
                <span v-show="foldFlag">（クリックで展開）</span></a>
            </h2>
            <div v-show="!foldFlag">
                <p class="block">
                    　個人的に良く見に行く他サイトへのリンクとかを置いておきます。<br>
                    　多分下に行くほどマニアック。
                </p>
                <dl>
                    <dt><a href="https://inshi.org">ウマ娘因子サーチ</a></dt>
                    <dd>　欲しい因子を指定してフレンドを探せるサイト。検索性が良くてとても便利。</dd>
                    <dd>　ただし、スクショからの自動登録機能は認識の精度がやや悪いことがあるようで、登録された内容が間違っていることがある（私の場合は親のウマ娘が別人として認識された）。</dd>
                    <dd>　余談だけど因子目当てにフレンドを探すなら、使い勝手が良いのは因子サーチ≧Twitter検索＞GameWithのフレンド募集掲示板＞＞＞その他の企業系攻略Wikiのフレンド募集掲示板だと思います。Discordとかはどうなんじゃろな？</dd>
                    <hr>
                    <dt><a href="https://anond.hatelabo.jp/20210308133811">俺がお前を勝たせてやる - はてな匿名ダイアリー</a></dt>
                    <dd>　はてな匿名ダイアリー、通称『増田』に投稿された伝説級の初心者指南。書いたのはJunchangchang氏らしい。</dd>
                    <dd>　これを読むだけでURAファイナルズに勝てないレベルの初心者が勝てるようになる。と言うか、なった。</dd>
                    <hr>
                    <dt><a href="https://aqm.hatenablog.jp/entry/2021/03/07/235900">#ウマ娘 攻略メモ（随時更新）- AQM</a></dt>
                    <dd>　恐らくはてな界隈で最<s>狂</s>強のウマ娘プレイヤーであるAQM氏の攻略メモ。</dd>
                    <dd>　1記事でウマ娘の攻略の大体全てがまとめられているので、URAファイナルズに勝てるようになったら大いに参考にしよう。</dd>
                    <hr>
                    <dt><a href="https://gamewith.jp/uma-musume/article/show/259587">【ウマ娘】イベント選択肢チェッカー（逆引き検索ツール）- GameWith</a></dt>
                    <dd>　GameWithの攻略Wikiによるゲーム中のイベントの選択肢の検索ツール。</dd>
                    <dd>　PC/スマホを問わず、他の類似のツールと比べても圧倒的に使いやすいと思う。</dd>
                    <dd>　育成を周回しすぎて選択肢の効果を丸暗記するようになるまでは大いにお世話になる。</dd>
                    <hr>
                    <dt><a href="https://umasagashi.pages.dev/">umasagashi</a></dt>
                    <dd>　いわゆる『因子ループ』と呼ばれる育成手法（相性の良いウマ娘を組み合わせて継承を繰り返すことにより、有用な白因子を受け継ぎやすくするという育成法）を効率良く実践するためのツールが公開されている。</dd>
                    <dd>　<s>でも正直、因子ループって良く分かんないんだよね。</s></dd>
                    <hr>
                    <dt><a href="https://umamusustation.com">ウマ娘攻略データステーション</a></dt>
                    <dd>　チーム競技場のランキングから確認できるウマ娘のデータで統計を取っているサイト。つまりチーム競技場のランカーの使っているウマ娘のパラメータやスキルやサポートカードの傾向が分かる。</dd>
                    <dd>　ついでにウマ娘のパラメータと☆3青因子の獲得率との相関について検定していたりして、とても<s>絶望できる</s>参考になる。</dd>
                    <dd>　読んでいると<s>もう無理たすけて</s>よーし育成がんばるぞー！という気分になってくる。</dd>
                    <hr>
                    <dt><a href="https://docs.google.com/spreadsheets/d/18BriEn0-OQjSkJWHx5Yv8ycN1b4NMDXHDCFM98v5xXk/edit?usp=sharing">ウマ娘レース一覧（Googleスプレッドシート）</a></dt>
                    <dd>　このサイトで使っているレース一覧の元データ。</dd>
                    <dd>　全部私が一人で調べて打ち込んだので、何か間違ってるかも知れません。</dd>
                    <dd>　誰でも自由にコピーして持って帰れるようにしてあるつもりだけど、ちゃんとできてるのかな？</dd>
                </dl>
            </div>
        </section>

        <section class="box" id="howto">
            <h2 class="subtitle">
                <a @click="fold()">使い方
                <span v-show="foldFlag">（クリックで展開）</span></a>
                <span v-show="DEBUG">（{{ dice }}）</span>
            </h2>
            <dl v-show="!foldFlag">
                <dt>短い説明：</dt>
                <dd>
                    　見れば分かると思うよ！
                </dd>
                <hr>
                <dt>普通の説明：</dt>
                <dd>　これは育成中のウマ娘の出走予定表をお手軽に作るためのツールです。</dd>
                <dd>　育成担当をコロコロ変えすぎて何のレースに出せば良いのか頻繁に忘れるために作りました。</dd>
                <dd>　設定した条件に合うレースの一覧から適当に抜き出して、作ったリストを閲覧したりコピペしたりできます。</dd>
                <dd>　他の似たような機能のツールとの最大の違いは、タブ区切りテキストをコピーできるということと、PCでもスマホでも使えるということです。</dd>
                <dd>（ただし、ファイル容量が諸々合わせて550KBほどあるので、うっかりギガが死んだりしないように気を付けましょう）</dd>
                <hr>
                <dt>長い説明：</dt>
                <dd>『検索条件』でレース一覧に表示する条件を設定する。</dd>
                <dd>　　　↓</dd>
                <dd>『表示設定』でリストに表示する項目をカスタマイズ（任意）。</dd>
                <dd>　　　↓</dd>
                <dd>『その他』で適当に色々する（任意）。</dd>
                <dd>　　　↓</dd>
                <dd>『レース一覧』から抜き出したいレースを選ぶ。<br>　ちなみにレースをクリックすると抜き出せます。</dd>
                <dd>　　　↓</dd>
                <dd>『出走予定表』を眺めてﾆﾖﾆﾖしたりコピペしたりする。<br>　ちなみにレースをクリックすると消せます。</dd>
                <dd>　　　↓</dd>
                <dd v-html="messages[dice]"></dd>
                <dd>　　　↓</dd>
                <dd>　GI制覇してゴルシに蹴られる。</dd>
                <hr>
                <dt>注意：</dt>
                <dd>　レースのデータは全部私が一人で調べて打ち込んだので、どこかが間違ってるかも知れません。</dd>
                <dd>　目標レースと推奨レースは<a href="https://gamewith.jp/uma-musume/article/show/261552">GameWithのウマ娘攻略wikiの記事</a>や<a onclick="javascript: alert('「このWikiを広めるのやめろ」って書いてあったのでリンクしません。\n気になる人はググれば出てくるよ！')">ｽｯﾍﾟﾝﾍﾟﾝ Wiki*の記事</a>を参考にしました。</dd>
            </dl>
        </section>

        <section class="box" id="search">
            <h2 class="subtitle">
                <a @click="fold()">検索条件
                <span v-show="foldFlag">（クリックで展開）</span></a>
                <span v-show="DEBUG">（{{ dummy }}）{{ foldFlag }}</span>
            </h2>
            <table v-show="!foldFlag" class="table is-narrow is-striped">
                <tr>
                    <th class="has-text-right">
                        <a @click="checkAll('grades')">グレード</a>
                    </th>
                    <td>
                        <label v-for="value in checkbox.grades" class="checkbox">
                            <input type="checkbox" :value="value" v-model="checked.grades"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="checkAll('locations')">競技場</a>
                    </th>
                    <td>
                        <label v-for="value in checkbox.locations" class="checkbox">
                            <input type="checkbox" :value="value" v-model="checked.locations"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="checkAll('grounds')">バ場</a>
                    </th>
                    <td>
                        <label v-for="value in checkbox.grounds" class="checkbox">
                            <input type="checkbox" :value="value" v-model="checked.grounds"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="checkAll('ranges')">距離</a>
                    </th>
                    <td>
                        <label v-for="value in checkbox.ranges" class="checkbox">
                            <input type="checkbox" :value="value" v-model="checked.ranges"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="checkAll('rotations')">コース</a>
                    </th>
                    <td>
                        <label v-for="value in checkbox.rotations" class="checkbox">
                            <input type="checkbox" :value="value" v-model="checked.rotations"> {{ value }}　
                        </label>
                    </td>
                </tr>
            </table>
        </section>

        <section class="box" id="display">
            <h2 class="subtitle">
                <a @click="fold()">表示項目
                <span v-show="foldFlag">（クリックで展開）</span></a>
                <span v-show="DEBUG">（{{ dummy }}）</span>
            </h2>
            <table v-show="!foldFlag" class="table is-narrow is-striped">
                <tr>
                    <th class="has-text-right">
                        <a @click="toggle('turn')">ターン</a>
                    </th>
                    <td>
                        <label v-for="(value, index) in radio.turn" class="radio">
                            <input type="radio" :value="index" v-model="checked.turn"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="toggle('classes')">級</a>
                    </th>
                    <td>
                        <label v-for="(value, index) in radio.classes" class="radio">
                            <input type="radio" :value="index" v-model="checked.classes"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="toggle('months')">月</a>
                    </th>
                    <td>
                        <label v-for="(value, index) in radio.months" class="radio">
                            <input type="radio" :value="index" v-model="checked.months"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="toggle('names')">名前</a>
                    </th>
                    <td>
                        <label v-for="(value, index) in radio.names" class="radio">
                            <input type="radio" :value="index" v-model="checked.names"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="toggle('grades')">グレード</a>
                    </th>
                    <td>
                        <label v-for="(value, index) in radio.grades" class="radio">
                            <input type="radio" :value="index" v-model="checked.grades"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="toggle('locations')">レース場</a>
                    </th>
                    <td>
                        <label v-for="(value, index) in radio.locations" class="radio">
                            <input type="radio" :value="index" v-model="checked.locations"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="toggle('grounds')">バ場</a>
                    </th>
                    <td>
                        <label v-for="(value, index) in radio.grounds" class="radio">
                            <input type="radio" :value="index" v-model="checked.grounds"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="toggle('distances')">距離</a>
                    </th>
                    <td>
                        <label v-for="(value, index) in radio.distances" class="radio">
                            <input type="radio" :value="index" v-model="checked.distances"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="toggle('courses')">コース</a>
                    </th>
                    <td>
                        <label v-for="(value, index) in radio.courses" class="radio">
                            <input type="radio" :value="index" v-model="checked.courses"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="toggle('fullgate')">フルゲート</a>
                    </th>
                    <td>
                        <label v-for="(value, index) in radio.fullgate" class="radio">
                            <input type="radio" :value="index" v-model="checked.fullgate"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="toggle('require')">出走条件</a>
                    </th>
                    <td>
                        <label v-for="(value, index) in radio.require" class="radio">
                            <input type="radio" :value="index" v-model="checked.require"> {{ value }}　
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        <a @click="toggle('rewardss')">ファン獲得数</a>
                    </th>
                    <td>
                        <label v-for="(value, index) in radio.rewardss" class="radio">
                            <input type="radio" :value="index" v-model="checked.rewardss"> {{ value }}　
                        </label>
                    </td>
                </tr>
            </table>
        </section>

        <section class="box" id="config">
            <h2 class="subtitle">
                <a @click="fold()">その他
                <span v-show="foldFlag">（クリックで展開）</span></a>
                <span v-show="DEBUG">（{{ dummy + dummy2 }}）</span>
            </h2>
            <table v-show="!foldFlag" class="table is-narrow is-striped">
                <tr>
                    <th class="has-text-right">
                        ウマ娘
                    </th>
                    <td>
                        <select v-model="config.character">
                            <option v-for="name in CHARACTERS">{{ name }}</option>
                        </select><br>
                        <label class="checkbox">
                                <input type="checkbox" v-model="config.emphasis"> ↑の<span :class="{ emphasis1: config.emphasis }">目標レース</span>と<span :class="{ emphasis2: config.emphasis }">推奨レース</span>を強調表示<br>
                            （<span :class="{ emphasis1: config.emphasis }">目標レース</span>：出走が必須なレース。候補が複数ある場合はそれらの全て）<br>
                            （<span :class="{ emphasis2: config.emphasis }">推奨レース</span>：出走すると特殊なイベントがあるとされるレース）
                        </label><br>
                        　→ <a @click="markMainRaces()">予定表に目標レース・推奨レースを一括登録</a>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        一括登録
                    </th>
                    <td>
                        <template v-for="sets in raceSets">
                            <template v-for="(races, name) in sets">
                                <a @click="markRaces(races)">{{ name }}</a>　
                            </template><br>
                        </template>
                        （注 春秋○○は同一年内に勝たないと称号の条件を満たしません）
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        その他
                    </th>
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" v-model="config.colorful"> レースのグレード・距離に応じて文字色を変更
                        </label><br>
                        <label class="checkbox">
                            <input type="checkbox" v-model="config.smart"> 級・月をすっきり表示
                        </label>        
                    </td>
                </tr>
            </table>
        </section>

        <section class="box" id="result">
            <h2 class="subtitle">
                <a @click="fold()">レース一覧
                <span v-show="foldFlag">（クリックで展開）</span></a>
                <span v-show="DEBUG">（{{ sharedState.markedRaces.length }}）</span>
            </h2>
            <div class="table-container" v-show="!foldFlag">
                <p class="block">
                    　レースをクリックすると予定表に追加されます。
                </p>
                <table class="table is-narrow is-hoverable nowrap">
                    <thead>
                        <tr>
                            <th class="has-text-centered" v-show="DEBUG">ID</th>
                            <th class="has-text-centered" v-show="display.turn">ｔ</th>
                            <th class="has-text-centered" v-show="display.classes">級</th>
                            <th class="has-text-centered" v-show="display.months">月</th>
                            <th class="has-text-centered" v-show="display.names">名前</th>
                            <th class="has-text-centered" v-show="display.grades">
                                <span v-show="display.grades === 1">グレード</span>
                                <span v-show="display.grades === 2">Ｇ</span>
                            </th>
                            <th class="has-text-centered" v-show="display.locations">
                                <span v-show="display.locations === 1">レース場</span>
                                <span v-show="display.locations === 2">ﾚｰｽ場</span>
                            </th>
                            <th class="has-text-centered" v-show="display.grounds">
                                <span v-if="display.grounds < 2">バ場</span>
                                <span v-if="display.grounds === 2">地</span>
                            </th>
                            <th class="has-text-centered" v-show="display.distances">
                                <span v-if="display.distances < 5">距離</span>
                                <span v-if="display.distances === 5">距</span>
                            </th>
                            <th class="has-text-centered" v-show="display.courses">
                                <span v-if="display.courses === 1">コース</span>
                                <span v-if="display.courses === 2">向</span>
                            </th>
                            <th class="has-text-centered" v-show="display.fullgate">枠</th>
                            <th class="has-text-centered" v-show="display.require">条件</th>
                            <th class="has-text-centered" v-show="display.rewardss">1着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">2着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">3着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">4着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">5着</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-show="!number">
                            <td :colspan="colspans[0]" class="has-text-centered">
                                　なんもないよ？
                            </td>
                        </tr>
                        <template v-for="(months, mindex) in results">
                            <template v-for="(periods, pindex) in months">
                                <tr v-for="(id, iindex) in periods" :class="{
                                    'has-text-weight-bold': sharedState.markedRaces.includes(id),
                                    'border-top': iindex === 0,
                                    'border-bottom': iindex === periods.length - 1
                                }" @click="markRace(id)">
                                    <td class="has-text-right" v-show="DEBUG">{{ id }}</td>
                                    <td class="has-text-right" v-show="display.turn">
                                        <span v-show="!(config.smart && iindex)">{{ races[id].turn }}</span>
                                    </td>
                                    <td class="has-text-centered" v-show="display.classes">
                                        <span v-show="!(config.smart && iindex)">{{ races[id].classes[display.classes] }}</span>
                                    </td>
                                    <td class="has-text-right" v-show="display.months">
                                        <span v-show="!(config.smart && iindex)">{{ races[id].months[display.months] }}</span>
                                    </td>
                                    <td class="has-text-centered" v-show="display.names">
                                        <span :class="{
                                            'emphasis1': config.emphasis && sharedState.mainRaces[0].includes(id),
                                            'emphasis2': config.emphasis && sharedState.mainRaces[1].includes(id),
                                        }">{{ races[id].names[display.names] }}</span>
                                    </td>
                                    <td class="has-text-centered" v-show="display.grades" :class="{
                                        'gi': config.colorful && races[id].grade === 'GI',
                                        'gii': config.colorful && races[id].grade === 'GII',
                                        'giii': config.colorful && races[id].grade === 'GIII',
                                        'op': config.colorful && races[id].grade === 'OP',
                                        'po': config.colorful && races[id].grade === 'Pre-OP'
                                    }">{{ races[id].grades[display.grades] }}</td>
                                    <td class="has-text-centered" v-show="display.locations">{{ races[id].locations[display.locations] }}</td>
                                    <td class="has-text-centered" v-show="display.grounds">{{ races[id].grounds[display.grounds] }}</td>
                                    <td :class="{
                                        'has-text-right': display.distances < 4,
                                        'has-text-centered': display.distances >= 4,
                                        'short': config.colorful && races[id].range === '短距離',
                                        'mile': config.colorful && races[id].range === 'マイル',
                                        'middle': config.colorful && races[id].range === '中距離',
                                        'long': config.colorful && races[id].range === '長距離',
                                    }" v-show="display.distances">{{ races[id].distances[display.distances] }}</td>
                                    <td class="has-text-centered" v-show="display.courses">{{ races[id].courses[display.courses] }}</td>
                                    <td class="has-text-right" v-show="display.fullgate">{{ races[id].fullgate }}</td>
                                    <td class="has-text-right" v-show="display.require">{{ races[id].require }}</td>
                                    <td class="has-text-right" v-show="display.rewardss">{{ races[id].rewardss[display.rewardss][0] }}</td>
                                    <td class="has-text-right" v-show="display.rewardss === 1">{{ races[id].rewardss[display.rewardss][1] }}</td>
                                    <td class="has-text-right" v-show="display.rewardss === 1">{{ races[id].rewardss[display.rewardss][2] }}</td>
                                    <td class="has-text-right" v-show="display.rewardss === 1">{{ races[id].rewardss[display.rewardss][3] }}</td>
                                    <td class="has-text-right" v-show="display.rewardss === 1">{{ races[id].rewardss[display.rewardss][4] }}</td>
                                </tr>
                            </template>
                        </template>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="has-text-centered" v-show="DEBUG">ID</th>
                            <th class="has-text-centered" v-show="display.turn">ｔ</th>
                            <th class="has-text-centered" v-show="display.classes">級</th>
                            <th class="has-text-centered" v-show="display.months">月</th>
                            <th class="has-text-centered" v-show="display.names">名前</th>
                            <th class="has-text-centered" v-show="display.grades">
                                <span v-show="display.grades === 1">グレード</span>
                                <span v-show="display.grades === 2">Ｇ</span>
                            </th>
                            <th class="has-text-centered" v-show="display.locations">
                                <span v-show="display.locations === 1">レース場</span>
                                <span v-show="display.locations === 2">ﾚｰｽ場</span>
                            </th>
                            <th class="has-text-centered" v-show="display.grounds">
                                <span v-if="display.grounds < 2">バ場</span>
                                <span v-if="display.grounds === 2">地</span>
                            </th>
                            <th class="has-text-centered" v-show="display.distances">
                                <span v-if="display.distances < 5">距離</span>
                                <span v-if="display.distances === 5">距</span>
                            </th>
                            <th class="has-text-centered" v-show="display.courses">
                                <span v-if="display.courses === 1">コース</span>
                                <span v-if="display.courses === 2">向</span>
                            </th>
                            <th class="has-text-centered" v-show="display.fullgate">枠</th>
                            <th class="has-text-centered" v-show="display.require">条件</th>
                            <th class="has-text-centered" v-show="display.rewardss">1着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">2着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">3着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">4着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">5着</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>

        <section class="box" id="schedule">
            <h2 class="subtitle">
                <a @click="fold()">出走予定表
                <span v-show="foldFlag">（クリックで展開）</span></a>
                <span v-show="DEBUG">（{{ sharedState.markedRaces.length }}）</span>
            </h2>
            <table v-show="!foldFlag && totalData.number" class="table is-narrow is-striped">
                <tr>
                    <th class="has-text-right">
                        レース数
                    </th>
                    <td>
                        {{ totalData.number }}
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        グレード
                    </th>
                    <td>
                        <span v-for="(number, key) in totalData.grades" v-show="number">
                            {{ key }}：{{ number }}　
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        レース場
                    </th>
                    <td>
                        <span v-for="(number, key) in totalData.locations" v-show="number">
                            {{ key }}：{{ number }}　
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        バ場
                    </th>
                    <td>
                        <span v-for="(number, key) in totalData.grounds" v-show="number">
                            {{ key }}：{{ number }}　
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        距離
                    </th>
                    <td>
                        <span v-for="(number, key) in totalData.ranges" v-show="number">
                            {{ key }}：{{ number }}　
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        総バクシン距離
                    </th>
                    <td>
                        {{ totalData.distance }}
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        コース
                    </th>
                    <td>
                        <span v-for="(number, key) in totalData.rotations" v-show="number">
                            {{ key }}：{{ number }}　
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="has-text-right">
                        総ファン獲得数
                    </th>
                    <td>
                        {{ totalData.reward }}<br>
                        （注1 全て1着の場合の合計値）<br>
                        （注2 実際はこれに更にサポカ補正がかかる）<br>
                        （注3 物理的に全てに出走可能とは限りません）
                    </td>
                </tr>
            </table>
            <div class="block" v-show="!foldFlag">
                <label class="checkbox">
                    <input type="checkbox" v-model="calendarMode"> カレンダーモード（何も無いターンに空行を表示）
                </label><br>
                → <a @click="copyTab()">タブ区切りテキストをコピー</a><br>
                　Googleスプレッドシートなどにコピペできます。<br>
                （ペーストが上手く行かない時は一度メモ帳などにペーストしてから改めてコピペし直すと上手くいくようです。何でか知らんけど）<br>
                <span v-show="DEBUG">→ <a @click="copyAddress()">逆引き辞書用テキストをコピー</a><br></span>
                → <a @click="clear()">リセット</a>
            </div>
            <div class="table-container" v-show="!foldFlag">
                <table class="table is-narrow is-hoverable nowrap">
                    <thead>
                        <tr>
                            <th class="has-text-centered" v-show="DEBUG">ID</th>
                            <th class="has-text-centered" v-show="display.turn">ｔ</th>
                            <th class="has-text-centered" v-show="display.classes">級</th>
                            <th class="has-text-centered" v-show="display.months">月</th>
                            <th class="has-text-centered" v-show="display.names">名前</th>
                            <th class="has-text-centered" v-show="display.grades">
                                <span v-show="display.grades === 1">グレード</span>
                                <span v-show="display.grades === 2">Ｇ</span>
                            </th>
                            <th class="has-text-centered" v-show="display.locations">
                                <span v-show="display.locations === 1">レース場</span>
                                <span v-show="display.locations === 2">ﾚｰｽ場</span>
                            </th>
                            <th class="has-text-centered" v-show="display.grounds">
                                <span v-if="display.grounds < 2">バ場</span>
                                <span v-if="display.grounds === 2">地</span>
                            </th>
                            <th class="has-text-centered" v-show="display.distances">
                                <span v-if="display.distances < 5">距離</span>
                                <span v-if="display.distances === 5">距</span>
                            </th>
                            <th class="has-text-centered" v-show="display.courses">
                                <span v-if="display.courses === 1">コース</span>
                                <span v-if="display.courses === 2">向</span>
                            </th>
                            <th class="has-text-centered" v-show="display.fullgate">枠</th>
                            <th class="has-text-centered" v-show="display.require">条件</th>
                            <th class="has-text-centered" v-show="display.rewardss">1着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">2着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">3着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">4着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">5着</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-show="!sharedState.markedRaces.length">
                            <td :colspan="colspans[0]" class="has-text-centered">
                                　レース一覧からクリックすると予定表に入ります。
                            </td>
                        </tr>
                        <template v-for="(months, mindex) in calendar">
                            <template v-for="(periods, pindex) in months">
                                <tr v-for="(id, iindex) in periods" :class="{
                                    'border-top': !sharedState.markedRaces.includes(id)
                                        || sharedState.markedRaces[0] === id
                                        || races[sharedState.markedRaces[sharedState.markedRaces.indexOf(id) - 1]].turn !== races[id].turn,
                                    'border-bottom': !sharedState.markedRaces.includes(id)
                                        || sharedState.markedRaces[sharedState.markedRaces.length - 1] === id
                                        || races[id].turn !== races[sharedState.markedRaces[sharedState.markedRaces.indexOf(id) + 1]].turn,
                                }" v-show="sharedState.markedRaces.includes(id)" @click="markRace(id)">
                                    <td class="has-text-right" v-show="DEBUG">{{ id }}</td>
                                    <td class="has-text-right" v-show="display.turn">
                                        <span v-show="!config.smart
                                            || !sharedState.markedRaces.includes(id)
                                            || sharedState.markedRaces[0] === id
                                            || races[sharedState.markedRaces[sharedState.markedRaces.indexOf(id) - 1]].turn !== races[id].turn
                                        ">{{ races[id].turn }}</span>
                                    </td>
                                    <td class="has-text-centered" v-show="display.classes">
                                        <span v-show="!config.smart
                                            || !sharedState.markedRaces.includes(id)
                                            || sharedState.markedRaces[0] === id
                                            || races[sharedState.markedRaces[sharedState.markedRaces.indexOf(id) - 1]].turn !== races[id].turn
                                        ">{{ races[id].classes[display.classes] }}</span>
                                    </td>
                                    <td class="has-text-right" v-show="display.months">
                                        <span v-show="!config.smart
                                            || !sharedState.markedRaces.includes(id)
                                            || sharedState.markedRaces[0] === id
                                            || races[sharedState.markedRaces[sharedState.markedRaces.indexOf(id) - 1]].turn !== races[id].turn
                                        ">{{ races[id].months[display.months] }}</span>
                                    </td>
                                    <td class="has-text-centered" v-show="display.names">
                                        <span :class="{
                                            'emphasis1': config.emphasis && sharedState.mainRaces[0].includes(id),
                                            'emphasis2': config.emphasis && sharedState.mainRaces[1].includes(id),
                                        }">{{ races[id].names[display.names] }}</span>
                                    </td>
                                    <td class="has-text-centered" v-show="display.grades" :class="{
                                        'gi': config.colorful && races[id].grade === 'GI',
                                        'gii': config.colorful && races[id].grade === 'GII',
                                        'giii': config.colorful && races[id].grade === 'GIII',
                                        'op': config.colorful && races[id].grade === 'OP',
                                        'po': config.colorful && races[id].grade === 'Pre-OP'
                                    }">{{ races[id].grades[display.grades] }}</td>
                                    <td class="has-text-centered" v-show="display.locations">{{ races[id].locations[display.locations] }}</td>
                                    <td class="has-text-centered" v-show="display.grounds">{{ races[id].grounds[display.grounds] }}</td>
                                    <td :class="{
                                        'has-text-right': display.distances < 4,
                                        'has-text-centered': display.distances >= 4,
                                        'short': config.colorful && races[id].range === '短距離',
                                        'mile': config.colorful && races[id].range === 'マイル',
                                        'middle': config.colorful && races[id].range === '中距離',
                                        'long': config.colorful && races[id].range === '長距離',
                                    }" v-show="display.distances">{{ races[id].distances[display.distances] }}</td>
                                    <td class="has-text-centered" v-show="display.courses">{{ races[id].courses[display.courses] }}</td>
                                    <td class="has-text-right" v-show="display.fullgate">{{ races[id].fullgate }}</td>
                                    <td class="has-text-right" v-show="display.require">{{ races[id].require }}</td>
                                    <td class="has-text-right" v-show="display.rewardss">{{ races[id].rewardss[display.rewardss][0] }}</td>
                                    <td class="has-text-right" v-show="display.rewardss === 1">{{ races[id].rewardss[display.rewardss][1] }}</td>
                                    <td class="has-text-right" v-show="display.rewardss === 1">{{ races[id].rewardss[display.rewardss][2] }}</td>
                                    <td class="has-text-right" v-show="display.rewardss === 1">{{ races[id].rewardss[display.rewardss][3] }}</td>
                                    <td class="has-text-right" v-show="display.rewardss === 1">{{ races[id].rewardss[display.rewardss][4] }}</td>
                                </tr>
                                <tr class="border-top border-bottom" v-show="calendarMode && checkEmpty(periods)">
                                    <td v-show="DEBUG"></td>
                                    <td class="has-text-right" v-show="display.turn">
                                        {{ periods[0] !== undefined ? races[periods[0]].turn : 1 }}
                                    </td>
                                    <td class="has-text-centered" v-show="display.classes">
                                        {{ periods[0] !== undefined ? races[periods[0]].classes[display.classes] : ['', 'ジュニア', 'ｼﾞｭﾆｱ', 'J'][display.classes] }}
                                    </td>
                                    <td class="has-text-right" v-show="display.months">
                                        {{ periods[0] !== undefined ? races[periods[0]].months[display.months] : ['', '7月 前半', '7 前'][display.months] }}
                                    </td>
                                    <td :colspan="colspans[1]" v-show="colspans[1]"></td>
                                </tr>
                            </template>
                        </template>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="has-text-centered" v-show="DEBUG">ID</th>
                            <th class="has-text-centered" v-show="display.turn">ｔ</th>
                            <th class="has-text-centered" v-show="display.classes">級</th>
                            <th class="has-text-centered" v-show="display.months">月</th>
                            <th class="has-text-centered" v-show="display.names">名前</th>
                            <th class="has-text-centered" v-show="display.grades">
                                <span v-show="display.grades === 1">グレード</span>
                                <span v-show="display.grades === 2">Ｇ</span>
                            </th>
                            <th class="has-text-centered" v-show="display.locations">
                                <span v-show="display.locations === 1">レース場</span>
                                <span v-show="display.locations === 2">ﾚｰｽ場</span>
                            </th>
                            <th class="has-text-centered" v-show="display.grounds">
                                <span v-if="display.grounds < 2">バ場</span>
                                <span v-if="display.grounds === 2">地</span>
                            </th>
                            <th class="has-text-centered" v-show="display.distances">
                                <span v-if="display.distances < 5">距離</span>
                                <span v-if="display.distances === 5">距</span>
                            </th>
                            <th class="has-text-centered" v-show="display.courses">
                                <span v-if="display.courses === 1">コース</span>
                                <span v-if="display.courses === 2">向</span>
                            </th>
                            <th class="has-text-centered" v-show="display.fullgate">枠</th>
                            <th class="has-text-centered" v-show="display.require">条件</th>
                            <th class="has-text-centered" v-show="display.rewardss">1着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">2着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">3着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">4着</th>
                            <th class="has-text-centered" v-show="display.rewardss === 1">5着</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>

    </section>

    <footer class="footer">
        <address v-once class="content has-text-centered">
            ふんにゃかハッピー はんにゃかラッキー センキューシラオキ！<br>
            作った人のID：<a onclick="javascript: alert(execCopy('403195428') ? 'コピーしました！' : 'コピーできませんでした！')">403 195 428</a><br>
            Lastupdate: 2021/06/14
        </address>
    </footer>

    <script src="data.js"></script>
    <script src="common.js"></script>
    <script src="schedule.js"></script>
    <script src="result.js"></script>
    <script src="config.js"></script>
    <script src="display.js"></script>
    <script src="search.js"></script>
    <script src="howto.js"></script>
    <script src="memo.js"></script>

</body>

</html>